@page
@model _2024AMS.Pages.OperatingSystems.ModifyOperatingSystemModel
@{
}

<form method="post">

    <input asp-for="OperatingSystem.OperatingSystemID" type="hidden" />

    <table>
        <tr>
            <td><label asp-for="OperatingSystem.OperatingSystem1" class="label"></label></td>
            <td><input asp-for="OperatingSystem.OperatingSystem1" /></td>
            <td><span asp-validation-for="OperatingSystem.OperatingSystem1" class="text-danger"></span></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input asp-page-handler="Modify" type="submit" value="Modify" />
                <a class="redbtn" asp-page="CancelOperatingSystem">Cancel</a>
            </td>
        </tr>
    </table>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}