html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* This was generated when the project was created. */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    position: static;
}

/* Element styling using an element selector. */
input[type=date],
input[type=file],
input[type=month],
input[type=password],
input[type=text],
input[type=time] {
    background-color: whitesmoke;
    border-color: darkgrey;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    line-height: 1.50rem;
    padding: 0.15rem 0.75rem 0.15rem 0.50rem;
    width: 14rem;
}

/* Using focus element selectors so it behaves how we want it to behave. */
input[type=date]:focus,
input[type=file]:focus,
input[type=month]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=time]:focus,
select:focus,
textarea:focus {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 0.75rem lightgray;
    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

input[type=submit] {
    background-color: darkblue;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    height: 2.30rem;
    margin-top: -4px;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
}

/* Basic element styling with element selector. */
input[type=submit]:hover {
    background-color: white;
    color: darkblue;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem 0.75rem lightgray;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Label element styling using element selector. */
label {
    color: black;
}

nav {
    background-color: navy;
}

/* Element styling using element selector. */
select {
    background-color: whitesmoke;
    border-color: darkgrey;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    line-height: 1.50rem;
    padding: 0.15rem 0.75rem 0.15rem 0.25rem;
    width: 14rem;
}

table, tr, td {
    background-color: whitesmoke;
    overscroll-behavior-y: contain;
}

/* Element styling using element selector. */
textarea {
    background-color: whitesmoke;
    border-color: darkgrey;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    height: 7.5rem;
    width: 15rem;
}


/* Class selector elements go here. */
/* Basic element styling with a class selector. Changes the other button to a blue background color*/
.btn {
    /* The btn and btn-primary styles were copied from the Bootstrap file, */
    /* combined, and modified to create a custom btn class. This was necessary */
    /* to override the Bootstrap styles here. */

    background-color: darkblue;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    height: 2.30rem;
    margin-top: -4px;
    padding: 0.375rem 1rem 0.375rem 1rem;
    text-decoration: none;
}

.btn:hover {
    background-color: white;
    color: darkblue;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem 0.75rem lightgray;
    transition: background-color 0.20s ease-in-out, box-shadow 0.20s ease-in-out;
}

/* Password element styling using a element selector. */
.checkbox input[type=checkbox] {
    /* Hide the default checkbox. */
    display: none;
}

/* Element styling using a class selector for the checkbox element. */
.checkbox label:before {
    background-color: lightgray;
    border-radius: 0.25rem;
    content: "\00a0";
    display: inline-block;
    margin-right: 0.25rem;
    text-align: center;
    width: 1.50rem;
}

.checkbox label:hover:before {
    background-color: darkgray;
    transition: background-color 0.25s ease-in-out;
}

.checkbox input:checked ~ label:before {
    content: "\2713"; /* Checkmark symbol. */
}

/* Div element styling. */
.div table {
    background-color: whitesmoke;
    padding: 2rem;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0; /* Remove the top margin so the submenus don't annoyingly close. */
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: white !important;
    background-color: navy !important;
}

.footer {
    /* This was generated when the project was created. */
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.greenbtn {
    /* The btn and btn-primary styles were copied from the Bootstrap file, */
    /* combined, and modified to create a custom btn class. This was necessary */
    /* to override the Bootstrap styles here. */

    background-color: forestgreen;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    height: 2.30rem;
    width: 100px;
    margin-top: -4px;
    padding: 0.375rem 4.42rem 0.375rem 4.42rem;
    text-decoration: none;
}

.greenbtn:hover {
    background-color: white;
    color: forestgreen;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem 0.75rem lightgray;
    transition: background-color 0.20s ease-in-out, box-shadow 0.20s ease-in-out;
}

.greenbtn:focus, .greenbtn:active:focus, .greenbtn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.input-password,
.input-text {
    /* See additional formatting above.*/
    width: 100%;
}

.label {
    color: black;
    font-weight: bold;
}

.redbtn {
    /* The btn and btn-primary styles were copied from the Bootstrap file, */
    /* combined, and modified to create a custom btn class. This was necessary */
    /* to override the Bootstrap styles here. */

    background-color: red;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    height: 2.30rem;
    margin-top: -4px;
    padding: 0.375rem 1rem 0.425rem 1rem;
    text-decoration: none;
}

.redbtn:hover {
    background-color: white;
    color: red;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem 0.75rem lightgray;
    transition: background-color 0.20s ease-in-out, box-shadow 0.25s ease-in-out;
}

.redbtn:focus, .redbtn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}