@page
@model _2024AMS.Pages.Manufacturers.MaintainManufacturersModel
@{
}

<table class="table">
    <thead>
        <tr>
            <td><a asp-page="AddManufacturer" class="greenbtn">Add</a></td>
            <th><label>Manufacturer</label></th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JoinResultIList)
        {
            <tr>
                <td>
                    <a class="btn" asp-page="ModifyManufacturer" asp-route-intManufacturerID="@item.ManufacturerID">Modify</a>
                    <a class="redbtn" asp-page="DeleteManufacturer" asp-route-intManufacturerID="@item.ManufacturerID" onclick="return confirm('Are you sure you want to delete this item? Click OK to delete it. Click Cancel to keep it.')">Delete</a>
                </td>
                <td><label>@item.Manufacturer</label></td>
            </tr>
        }
    </tbody>
</table>
