@page
@model _2024AMS.Pages.Manufacturers.ModifyManufacturerModel
@{
}

<form method="post">

    <input asp-for="Manufacturer.ManufacturerID" type="hidden" />

    <table>
        <tr>
            <td><label asp-for="Manufacturer.Manufacturer1" class="label"></label></td>
            <td><input asp-for="Manufacturer.Manufacturer1" /></td>
            <td><span asp-validation-for="Manufacturer.Manufacturer1" class="text-danger"></span></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input asp-page-handler="Modify" type="submit" value="Modify" />
                <a class="redbtn" asp-page="CancelManufacturer">Cancel</a>
            </td>
        </tr>
    </table>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}